
body {
    background-image:url("images/background.jpg");
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #333;
    background-position: 0% 23%;
    background-size: cover;
}

.3pict {
  display: flex;
}




nav {
  z-index: 3;
  text-align: center;

}

.menu ul li {
  color: #bdbdbd;
  text-transform: uppercase;
  display: inline-flex;
  padding: 2em 1em 0 1em;
  font-family: Open Sans;
}

/*.page{
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}*/

.social-navigation {
  display: inline-flex
  justify-content: space-around;
  font-size: 1.3em;
  color: #fff;
}

.social-navigation i {
  padding: 0.7em;

}
/*.fa-stack {
  color: #FFF;
  height: 50px;
  z-index: 2;
}*/
